{"rendering": "resources/graphics/rendering.key", "map": "resources/maps/7.map", "pos": [32, 46], "text": "Welcome to the CEPSR offline virtual interactive dungeon.\n\nYou are on the seventh floor of CEPSR, a research building at Columbia University.", "icon": "resources/graphics/default.icon", "movability": "resources/metadata/block.key", "objects": "resources/metadata/object.key"}